<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <div class="LandingPage" style="width: 1440px; height: 2500px; position: relative; background: #030303">
        <div class="OrderFoodAnytimeAnywhere" style="width: 650px; height: 167px; left: 77px; top: 320px; position: absolute; text-align: center"><span style="color: white; font-size: 64px; font-family: Poppins; font-weight: 500; line-height: 77px; word-wrap: break-word">Order </span><span style="color: #FBDDBB; font-size: 64px; font-family: Poppins; font-weight: 500; line-height: 77px; word-wrap: break-word">food</span><span style="color: white; font-size: 64px; font-family: Poppins; font-weight: 500; line-height: 77px; word-wrap: break-word"> anytime, anywhere</span></div>
        <div class="BrowseFromOurListOfSpecialsToPlaceYourOrderAndHaveFoodDeliveredToYouInNoTimeAffordableTastyAndFast" style="width: 609px; height: 77px; left: 111px; top: 487px; position: absolute; text-align: center; color: rgba(255, 255, 255, 0.74); font-size: 18px; font-family: Poppins; font-weight: 400; line-height: 33px; word-wrap: break-word">Browse from our list of specials to place your order and have food delivered to you in no time. Affordable, tasty and fast!</div>
        <div class="CheckOurSepecialsOfTheDayAndGetDiscountsOnAllOurMealsAndSwiftDeliveryToWhatEverLocationWithinSafaricomHq1Hq3" style="width: 609px; height: 77px; left: 423px; top: 935px; position: absolute; text-align: center; color: rgba(255, 255, 255, 0.83); font-size: 18px; font-family: Poppins; font-weight: 400; line-height: 33px; word-wrap: break-word">Check our sepecials of the day and get discounts on all our meals and swift delivery to what ever location within safaricom HQ1 - HQ3</div>
        <div class="TastyVegetarianDelicacies" style="width: 288px; left: 132px; top: 1440px; position: absolute; text-align: center; color: rgba(255, 255, 255, 0.83); font-size: 18px; font-family: Poppins; font-weight: 400; line-height: 33px; word-wrap: break-word">Tasty vegetarian delicacies </div>
        <div class="Vegetarian" style="left: 196px; top: 1393px; position: absolute; text-align: center; color: #FBDDBB; font-size: 27px; font-family: Poppins; font-weight: 700; line-height: 33px; word-wrap: break-word">Vegetarian</div>
        <div class="ChickenFryWithPepper" style="width: 288px; left: 593px; top: 1440px; position: absolute; text-align: center; color: rgba(255, 255, 255, 0.83); font-size: 18px; font-family: Poppins; font-weight: 400; line-height: 33px; word-wrap: break-word">Chicken fry with pepper</div>
        <div class="MeatBalls" style="left: 663px; top: 1393px; position: absolute; text-align: center; color: #FBDDBB; font-size: 27px; font-family: Poppins; font-weight: 700; line-height: 33px; word-wrap: break-word">Meat Balls</div>
        <div class="StirFryPastaBecauseOfSesan" style="width: 288px; left: 1075px; top: 1440px; position: absolute; text-align: center; color: rgba(255, 255, 255, 0.83); font-size: 18px; font-family: Poppins; font-weight: 400; line-height: 33px; word-wrap: break-word">Mouth watering patty  infused wth flavour </div>
        <div class="BurgerMeal" style="left: 1133px; top: 1393px; position: absolute; text-align: center; color: #FBDDBB; font-size: 27px; font-family: Poppins; font-weight: 700; line-height: 33px; word-wrap: break-word">Burger Meal</div>
        <div class="Home" style="left: 990px; top: 80px; position: absolute; color: #FBDDBB; font-size: 21px; font-family: Poppins; font-weight: 500; line-height: 33px; word-wrap: break-word">Home</div>
        <div class="Login" style="left: 1098px; top: 80px; position: absolute; color: rgba(255, 255, 255, 0.87); font-size: 21px; font-family: Poppins; font-weight: 500; line-height: 33px; word-wrap: break-word">Login</div>
        <div class="Rectangle1" style="width: 142px; height: 53px; left: 1200px; top: 73px; position: absolute; background: #43B02A; border-radius: 7px"></div>
        {{!<div class="OrderNow" style="left: 1225px; top: 82px; position: absolute; color: white; font-size: 17px; font-family: Poppins; font-weight: 700; line-height: 33px; word-wrap: break-word">Order Now</div>}}
        {{!<div class="OrderNow" style="left: 1225px; top: 82px; position: absolute; color: white; font-size: 17px; font-family: Poppins; font-weight: 700; line-height: 33px; word-wrap: break-word"><a href="/main-dashboard">Order Now</a></div>}}
        <div class="OrderNow" style="left: 1225px; top: 82px; position: absolute; color: white; font-size: 17px; font-family: Poppins; font-weight: 700; line-height: 33px; word-wrap: break-word">
            <a href="/main-dashboard" style="text-decoration: none; color: white;">Order Now</a></div>
        <img class="image1" style="width: 400px; height: 400px; left: 904px; top: 287px; position: absolute; border-radius: 400px" src="images/image1.png">
        <img class="image2" style="width: 250px; height: 250px; left: 147px; top: 1108px; position: absolute; border-radius: 400px" src="images/image2.png">
        <img class="image3" style="width: 250px; height: 250px; left: 612px; top: 1108px; position: absolute; border-radius: 400px" src="images/image3.png">
        <img class="image4" style="width: 250px; height: 250px; left: 1094px; top: 1108px; position: absolute; border-radius: 400px" src="images/image4.png">
        <div class="Footer" style="height: 393px; left: 0px; top: 2107px; position: absolute; background: #0B0D17; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <div class="BigFooter" style="width: 1110px; height: 312px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div class="Col1" style="height: 148px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 24px; display: inline-flex">
                    <div class="Company" style="width: 255px; color: #F4F5F7; font-size: 18px; font-family: Inter; font-weight: 500; line-height: 28px; word-wrap: break-word">Company</div>
                    <div class="ListItems" style="width: 255px; height: 96px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex"></div>
                </div>
                <div class="AboutUs" style="width: 255px; color: #EEEFF4; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">About Us</div>
                <div class="ContactUs" style="width: 255px; color: #EEEFF4; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Contact Us</div>
            </div>
            <div class="Divider" style="width: 1440px; height: 1px; opacity: 0.10; background: white"></div>
            <div class="SmallFooter" style="height: 80px; padding-top: 24px; padding-bottom: 24px; justify-content: center; align-items: center; display: inline-flex">
                <div class="2023SafaricomFoodsAllRightsReserved" style="width: 540px; color: #D9DBE1; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">© 2023 Safaricom Foods, All rights reserved</div>
                <div class="SocialLinks" style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: inline-flex">
                    <div class="SocialIcons" style="justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">
                        <div class="SocialIcons" style="width: 32px; height: 32px; position: relative">
                            <div class="Bg" style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute; opacity: 0.10; background: white"></div>
                            <div class="Path" style="width: 17.07px; height: 17.07px; left: 7.47px; top: 7.47px; position: absolute; background: white"></div>
                        </div>
                        <div class="SocialIcons" style="width: 32px; height: 32px; position: relative">
                            <div class="Bg" style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute; opacity: 0.10; background: white"></div>
                            <div class="Path" style="width: 15.49px; height: 12.80px; left: 8px; top: 9.60px; position: absolute; background: white"></div>
                        </div>
                        <div class="SocialIcons" style="width: 32px; height: 32px; position: relative">
                            <div class="Bg" style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute; opacity: 0.10; background: white"></div>
                            <div class="Path" style="width: 17.07px; height: 12.27px; left: 7.47px; top: 10.13px; position: absolute; background: white"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="safaricom-logo" style="width: 270px; height: 149.91px; left: 49px; top: 21px; position: absolute" src="images/safaricom-logo.png" />
    </div>
</head>
<body>

</body>
</html>