<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <div class="Login" style="width: 1440px; height: 900px; position: relative; background: white">
        <div class="WelcomeBack" style="left: 982px; top: 278px; position: absolute; color: #00302E; font-size: 27px; font-family: Poppins; font-weight: 600; line-height: 33px; word-wrap: break-word">Welcome Back!</div>
        <div class="Rectangle69" style="width: 488px; height: 71px; left: 845px; top: 372px; position: absolute; background: rgba(255, 255, 255, 0.83); border-radius: 5px; border: 0.50px rgba(251, 221, 187, 0.51) solid"></div>
        <div class="YourEmailAddress" style="left: 870px; top: 391px; position: absolute; text-align: center; color: rgba(0, 48, 46, 0.53); font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 33px; word-wrap: break-word">Your Email address</div>
        <div class="CreateAnAccount" style="left: 846px; top: 704px; position: absolute; text-align: center; color: rgba(0, 48, 46, 0.91); font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 33px; word-wrap: break-word">Create an account</div>
        <div class="ForgotPassoword" style="left: 1208px; top: 704px; position: absolute; text-align: center; color: rgba(0, 48, 46, 0.91); font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 33px; word-wrap: break-word">Forgot Passoword</div>
        <div class="Rectangle70" style="width: 488px; height: 71px; left: 845px; top: 491px; position: absolute; background: rgba(255, 255, 255, 0.83); border-radius: 5px; border: 0.50px rgba(251, 221, 187, 0.51) solid"></div>
        <div class="YourPassword" style="left: 870px; top: 510px; position: absolute; text-align: center; color: rgba(0, 48, 46, 0.53); font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 33px; word-wrap: break-word">Your Password</div>
        <div class="Show" style="left: 1266px; top: 510px; position: absolute; text-align: center; color: #00302E; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 33px; word-wrap: break-word">show</div>
        <div class="Button" style="width: 488px; height: 60px; padding-left: 40px; padding-right: 40px; padding-top: 15px; padding-bottom: 15px; left: 845px; top: 610px; position: absolute; background: rgba(67, 176, 42, 0.20); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 5px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div class="Button" style="text-align: center; color: white; font-size: 18px; font-family: Rubik; font-weight: 500; word-wrap: break-word">LOGIN</div>
        </div>
        <div class="Group13" style="width: 764px; height: 900px; left: 0px; top: 0px; position: absolute">
            <img class="BonVivantQom5mpoerIUnsplash5" style="width: 764px; height: 900px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/764x900" />
            <div class="Rectangle70" style="width: 764px; height: 900px; left: 0px; top: 0px; position: absolute; background: rgba(226.31, 184.24, 134.84, 0.40); border-radius: 7px"></div>
        </div>
        <img class="SafaricomLogoVectorRemovebgPreview1" style="width: 270px; height: 149.91px; left: 926px; top: 113px; position: absolute" src="https://via.placeholder.com/270x150" />
    </div>
</head>
<body>

</body>
</html>