<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make Payments</title>
    <div class="MakePayments" style="width: 1440px; height: 900px; position: relative; background: white">
        <div class="Slide1691" style="padding-top: 296px; padding-bottom: 36px; padding-left: 25px; padding-right: 27px; left: 0px; top: 0px; position: absolute; background: #FBFBFB; border-radius: 20px; flex-direction: column; justify-content: flex-end; align-items: center; display: inline-flex">
            <div class="Content" style="width: 268px; height: 568px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div class="Frame3" style="width: 267px; height: 50px; position: relative">
                    <div class="Rectangle1" style="width: 267px; height: 50px; left: 0px; top: 0px; position: absolute; background: #EFEFEF; border-radius: 12px"></div>
                    <div class="Group1" style="width: 145px; left: 15px; top: 13px; position: absolute">
                        <div class="MajesticonsHome" style="width: 24px; height: 24px; padding-top: 2.32px; padding-bottom: 3px; padding-left: 1.48px; padding-right: 1.50px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                            <div class="Vector" style="width: 21.02px; height: 18.68px; background: black"></div>
                        </div>
                        <div class="Dashboard" style="width: 106px; height: 15px; left: 39px; top: 4px; position: absolute; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Dashboard</div>
                    </div>
                </div>
                <div class="Frame2" style="width: 267px; height: 50px; position: relative">
                    <div class="Rectangle3" style="width: 267px; height: 50px; left: 0px; top: 0px; position: absolute; border-radius: 12px"></div>
                    <div class="Group2" style="width: 155px; left: 15px; top: 13px; position: absolute">
                        <div class="MajesticonsUserCircle" style="width: 24px; height: 24px; padding: 2px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                            <div class="Vector" style="width: 20px; height: 20px; background: #BCBCBC"></div>
                        </div>
                        <div class="YourProfile" style="width: 116px; height: 15px; left: 39px; top: 4px; position: absolute; color: #707070; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Your Profile</div>
                    </div>
                </div>
                <div class="Frame5" style="width: 267px; height: 50px; position: relative">
                    <div class="Rectangle4" style="width: 267px; height: 50px; left: 0px; top: 0px; position: absolute; border-radius: 12px"></div>
                    <div class="Group3" style="width: 113px; height: 28px; left: 15px; top: 13px; position: absolute">
                        <div class="MajesticonsCalendar" style="width: 24px; height: 24px; padding-left: 3px; padding-right: 3px; padding-top: 2px; padding-bottom: 2px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                            <div class="Vector" style="width: 18px; height: 20px; background: #BCBCBC"></div>
                        </div>
                        <div class="Orders" style="width: 74px; left: 39px; top: 4px; position: absolute; color: #707070; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Orders</div>
                    </div>
                    <div class="Group9" style="width: 24px; height: 24px; left: 225px; top: 17px; position: absolute">
                        <div class="Rectangle5" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #06E775; border-radius: 5px; border: 0.50px #06E775 solid"></div>
                        <div style="left: 7px; top: 3px; position: absolute; color: black; font-size: 16px; font-family: Roboto; font-weight: 500; word-wrap: break-word">6</div>
                    </div>
                </div>
                <div class="Frame4" style="width: 267px; height: 50px; position: relative">
                    <div class="Rectangle2" style="width: 267px; height: 50px; left: 0px; top: 0px; position: absolute; border-radius: 12px"></div>
                    <div class="Group4" style="width: 141px; height: 19.64px; left: 21px; top: 5px; position: absolute">
                        <div class="YourCart" style="width: 107px; height: 15px; left: 34px; top: 2px; position: absolute; color: #707070; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Your Cart</div>
                        <div class="Group" style="width: 16px; height: 19.64px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                            <div class="Vector" style="width: 16px; height: 19.64px; background: #BCBCBC"></div>
                        </div>
                    </div>
                    <div class="Group10" style="width: 24px; height: 24px; left: 225px; top: 10px; position: absolute">
                        <div class="Rectangle5" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #F3C294; border-radius: 5px; border: 0.50px #F3C294 solid"></div>
                        <div style="left: 7px; top: 2px; position: absolute; color: black; font-size: 16px; font-family: Roboto; font-weight: 500; word-wrap: break-word">6</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="GoodMorningThomas" style="left: 388px; top: 139px; position: absolute; color: #00302E; font-size: 23px; font-family: Poppins; font-weight: 600; line-height: 33px; word-wrap: break-word">Hello Sheila,</div>
        <div class="WhatDeliciousMealAreYouCravingToday" style="left: 390px; top: 176px; position: absolute; text-align: center; color: rgba(0, 0, 0, 0.69); font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 33px; word-wrap: break-word">What delicious meal are you craving today?</div>
        <div class="Rectangle71" style="width: 240px; height: 307px; left: 388px; top: 262px; position: absolute; background: rgba(255, 255, 255, 0.83); border-radius: 5px; border: 0.15px rgba(0, 48, 46, 0.14) solid"></div>
        <img class="BonVivantQom5mpoerIUnsplash5" style="width: 90px; height: 90px; left: 456px; top: 309px; position: absolute; border-radius: 400px" src="images/image5" />
        <div class="CheeseBurger" style="left: 445px; top: 412px; position: absolute; color: #00302E; font-size: 17px; font-family: Poppins; font-weight: 600; line-height: 33px; word-wrap: break-word">Cheese Burger</div>
        <div class="00" style="left: 417px; top: 513px; position: absolute; color: #00302E; font-size: 13px; font-family: Poppins; font-weight: 700; line-height: 33px; word-wrap: break-word"> 400.00</div>
        <div class="AddToCart" style="left: 541px; top: 513px; position: absolute; text-align: right; color: #06E775; font-size: 13px; font-family: Poppins; font-weight: 500; line-height: 33px; word-wrap: break-word">Add to cart</div>
        <div class="TheInHousePastaAndChickenByChefMoose" style="width: 172px; left: 422px; top: 449px; position: absolute; text-align: center; color: rgba(0, 0, 0, 0.69); font-size: 11px; font-family: Poppins; font-weight: 400; line-height: 21px; word-wrap: break-word">The in-house pasta and chicken by chef Moose</div>
        <div class="Rectangle72" style="width: 240px; height: 307px; left: 746px; top: 262px; position: absolute; background: rgba(255, 255, 255, 0.83); border-radius: 5px; border: 0.15px rgba(0, 48, 46, 0.14) solid"></div>
        <img class="BonVivantQom5mpoerIUnsplash6" style="width: 90px; height: 90px; left: 814px; top: 309px; position: absolute; border-radius: 400px" src="images/image6.png" />
        <div class="StirFryPasta" style="left: 803px; top: 412px; position: absolute; color: #00302E; font-size: 17px; font-family: Poppins; font-weight: 600; line-height: 33px; word-wrap: break-word">Stir Fry Pasta</div>
        <div class="00" style="left: 775px; top: 513px; position: absolute; color: #00302E; font-size: 13px; font-family: Poppins; font-weight: 700; line-height: 33px; word-wrap: break-word">400.00</div>
        <div class="AddToCart" style="left: 899px; top: 513px; position: absolute; text-align: right; color: #06E775; font-size: 13px; font-family: Poppins; font-weight: 500; line-height: 33px; word-wrap: break-word">Add to cart</div>
        <div class="TheInHousePastaAndChickenByChefMoose" style="width: 172px; left: 780px; top: 449px; position: absolute; text-align: center; color: rgba(0, 0, 0, 0.69); font-size: 11px; font-family: Poppins; font-weight: 400; line-height: 21px; word-wrap: break-word">The in-house pasta and chicken by chef Moose</div>
        <div class="Rectangle73" style="width: 240px; height: 307px; left: 1104px; top: 262px; position: absolute; background: rgba(255, 255, 255, 0.83); border-radius: 5px; border: 0.15px rgba(0, 48, 46, 0.14) solid"></div>
        <img class="BonVivantQom5mpoerIUnsplash7" style="width: 90px; height: 90px; left: 1172px; top: 309px; position: absolute; border-radius: 400px" src="images/image6.png" />
        <div class="StirFryPasta" style="left: 1161px; top: 412px; position: absolute; color: #00302E; font-size: 17px; font-family: Poppins; font-weight: 600; line-height: 33px; word-wrap: break-word">Stir Fry Pasta</div>
        <div class="AddToCart" style="left: 1257px; top: 513px; position: absolute; text-align: right; color: #06E775; font-size: 13px; font-family: Poppins; font-weight: 500; line-height: 33px; word-wrap: break-word">Add to cart</div>
        <div class="TheInHousePastaAndChickenByChefMoose" style="width: 172px; left: 1138px; top: 449px; position: absolute; text-align: center; color: rgba(0, 0, 0, 0.69); font-size: 11px; font-family: Poppins; font-weight: 400; line-height: 21px; word-wrap: break-word">The in-house pasta and chicken by chef Moose</div>
        <div class="Rectangle74" style="width: 240px; height: 307px; left: 388px; top: 637px; position: absolute; background: rgba(255, 255, 255, 0.83); border-radius: 5px; border: 0.15px rgba(0, 48, 46, 0.14) solid"></div>
        <img class="BonVivantQom5mpoerIUnsplash8" style="width: 90px; height: 90px; left: 456px; top: 684px; position: absolute; border-radius: 400px" src="images/image6.png" />
        <div class="FriedEgg" style="left: 445px; top: 787px; position: absolute; color: #00302E; font-size: 17px; font-family: Poppins; font-weight: 600; line-height: 33px; word-wrap: break-word">Fried Egg</div>
        <div class="N100000" style="left: 417px; top: 888px; position: absolute; color: #00302E; font-size: 13px; font-family: Poppins; font-weight: 700; line-height: 33px; word-wrap: break-word">Kes 400.00</div>
        <div class="AddToCart" style="left: 541px; top: 888px; position: absolute; text-align: right; color: #06E775; font-size: 13px; font-family: Poppins; font-weight: 500; line-height: 33px; word-wrap: break-word">Add to cart</div>
        <div class="TheInHousePastaAndChickenByChefMoose" style="width: 172px; left: 422px; top: 824px; position: absolute; text-align: center; color: rgba(0, 0, 0, 0.69); font-size: 11px; font-family: Poppins; font-weight: 400; line-height: 21px; word-wrap: break-word">The in-house pasta and chicken by chef Moose</div>
        <div class="Rectangle75" style="width: 240px; height: 307px; left: 746px; top: 637px; position: absolute; background: rgba(255, 255, 255, 0.83); border-radius: 5px; border: 0.15px rgba(0, 48, 46, 0.14) solid"></div>
        <img class="BonVivantQom5mpoerIUnsplash9" style="width: 90px; height: 90px; left: 814px; top: 684px; position: absolute; border-radius: 400px" src="https://via.placeholder.com/90x90" />
        <div class="BlueberryToastsAndSmoothie" style="left: 803px; top: 787px; position: absolute; color: #00302E; font-size: 17px; font-family: Poppins; font-weight: 600; line-height: 33px; word-wrap: break-word">Blueberry Toasts and Smoothie</div>
        <div class="N100000" style="left: 775px; top: 888px; position: absolute; color: #00302E; font-size: 13px; font-family: Poppins; font-weight: 700; line-height: 33px; word-wrap: break-word">Kes 400.00</div>
        <div class="AddToCart" style="left: 899px; top: 888px; position: absolute; text-align: right; color: #06E775; font-size: 13px; font-family: Poppins; font-weight: 500; line-height: 33px; word-wrap: break-word">Add to cart</div>
        <div class="TheInHousePastaAndChickenByChefMoose" style="width: 172px; left: 780px; top: 824px; position: absolute; text-align: center; color: rgba(0, 0, 0, 0.69); font-size: 11px; font-family: Poppins; font-weight: 400; line-height: 21px; word-wrap: break-word">The in-house pasta and chicken by chef Moose</div>
        <div class="Rectangle76" style="width: 240px; height: 307px; left: 1104px; top: 637px; position: absolute; background: rgba(255, 255, 255, 0.83); border-radius: 5px; border: 0.15px rgba(0, 48, 46, 0.14) solid"></div>
        <img class="BonVivantQom5mpoerIUnsplash10" style="width: 90px; height: 90px; left: 1172px; top: 684px; position: absolute; border-radius: 400px" src="images/image6.png" />
        <div class="StirFryPasta" style="left: 1161px; top: 787px; position: absolute; color: #00302E; font-size: 17px; font-family: Poppins; font-weight: 600; line-height: 33px; word-wrap: break-word">Stir Fry Pasta</div>
        <div class="N100000" style="left: 1133px; top: 888px; position: absolute; color: #00302E; font-size: 13px; font-family: Poppins; font-weight: 700; line-height: 33px; word-wrap: break-word">Kes 400.00</div>
        <div class="AddToCart" style="left: 1257px; top: 888px; position: absolute; text-align: right; color: #06E775; font-size: 13px; font-family: Poppins; font-weight: 500; line-height: 33px; word-wrap: break-word">Add to cart</div>
        <div class="TheInHousePastaAndChickenByChefMoose" style="width: 172px; left: 1138px; top: 824px; position: absolute; text-align: center; color: rgba(0, 0, 0, 0.69); font-size: 11px; font-family: Poppins; font-weight: 400; line-height: 21px; word-wrap: break-word">The in-house pasta and chicken by chef Moose</div>
        <img class="W1" style="width: 50px; height: 50px; left: 1319px; top: 147px; position: absolute; border-radius: 50px" src="images/avatar.png" />
        <div class="Rectangle77" style="width: 1440px; height: 900px; left: 0px; top: 1px; position: absolute; background: rgba(196, 196, 196, 0.42)"></div>
        <div class="Rectangle78" style="width: 558px; height: 900px; left: 879px; top: 4px; position: absolute; background: white"></div>
        <div class="Checkout" style="left: 1097px; top: 338px; position: absolute; color: #00302E; font-size: 17px; font-family: Poppins; font-weight: 600; line-height: 33px; word-wrap: break-word">Checkout</div>
        <div class="Rectangle82" style="width: 488px; height: 60px; left: 915px; top: 779px; position: absolute; background: #43B02A"></div>
        <div class="MakePayment" style="left: 1109px; top: 796px; position: absolute; text-align: center; color: #F3C294; font-size: 13px; font-family: Poppins; font-weight: 600; line-height: 27px; word-wrap: break-word">Make Payment</div>
        <img class="SafaricomLogoVectorRemovebgPreview1" style="width: 270px; height: 149.91px; left: 23px; top: 85px; position: absolute" src="images/safaricom-logo.png" />
        <img class="LipaNaMpesaTransparent1" style="width: 236px; height: 118px; left: 1021px; top: 434px; position: absolute" src="images/lipa-na-mpesa.png" />
    </div>


</head>
<body>

</body>
</html>