<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Received</title>
    <div class="PaymentReceived" style="width: 1440px; height: 900px; position: relative; background: rgba(0, 0, 0, 0.53)">
        <div class="WelcomeToSafaricomMeals" style="left: 895px; top: 99px; position: absolute; color: #00302E; font-size: 27px; font-family: Poppins; font-weight: 600; line-height: 33px; word-wrap: break-word">Welcome to Safaricom Meals!</div>
        <div class="Group14" style="width: 764px; height: 900px; left: 0px; top: 0px; position: absolute">
            <img class="BonVivantQom5mpoerIUnsplash5" style="width: 764px; height: 900px; left: 0px; top: 0px; position: absolute" src="images/ForgotPasswordImages.png" />
            <div class="Rectangle70" style="width: 764px; height: 900px; left: 0px; top: 0px; position: absolute; background: rgba(226.31, 184.24, 134.84, 0.40); border-radius: 7px"></div>
        </div>
        <div class="Rectangle4171" style="width: 498px; height: 487px; left: 851px; top: 207px; position: absolute; background: white; border-radius: 10px"></div>
        <div class="Rectangle139" style="width: 194px; height: 61px; left: 1004px; top: 591px; position: absolute; background: #43B02A; box-shadow: 0px 8px 30px rgba(56, 209, 136, 0.10); border-radius: 21.34px"></div>
        <div class="YouHaveSuccessfullyMadeYourPayment" style="width: 422px; height: 40px; left: 894px; top: 475px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">You have successfully made your payment            </div>
        <div class="BonAppetite" style="width: 131px; height: 40px; left: 1041px; top: 515px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Bon Appetite</div>
        <div class="Back" style="width: 181px; height: 21px; left: 1011px; top: 607px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Montserrat; font-weight: 500; text-transform: uppercase; letter-spacing: 1.12px; word-wrap: break-word">back</div>
        <div class="IconmonstrEat7" style="width: 106px; height: 106px; left: 1047px; top: 276px; position: absolute; background: #43B02A; border: 0.50px #43B02A solid"></div>
    </div>
</head>
<body>

</body>
</html>